/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* цвет подписи в футере rgba(255, 255, 255, 0.4) */
/* цвет контактов в футере rgba(255, 255, 255, 0.6) */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --footer-signature-color: rgba(255, 255, 255, 0.4);
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #f5f4fa;
}

/* General */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
}

.section .section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Button */

.button {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  min-width: 73px;
  border-radius: 4px;
  text-align: center;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}

/* Index.html */

/* Header */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  display: inline-block;

  margin-right: 86px;

  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo:hover,
.logo:focus {
  background-color: aqua;
}

.web-logo {
  color: var(--accent-color);
}

.header-contacts {
  color: var(--title-text-color);
}

.contacts-nav .header-contacts:hover,
.contacts-nav .header-contacts:focus {
  color: var(--accent-color);
}

/* Site nav */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.contacts-nav {
  display: flex;

  margin-left: auto;
}

.contacts-nav .item + .item {
  margin-left: 30px;
}

.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav,
.contacts-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Hero */

.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 46px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}

/* Features */

.feature-list {
  display: flex;
}
.feature-list > .item {
  width: 278px;
}

.feature-list .item + .item {
  margin-left: 30px;
}

.feature-title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .feature-content {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.7;
}

/* What we do */

.our-work {
  display: flex;
}

.our-work .item + .item {
  margin-left: 30px;
}

.our-work .item:hover,
.our-work .item:focus {
  background-color: aqua;
}

.product-title {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Our team */

.team-list {
  display: flex;
  text-align: center;
}

.team-list .item + .item {
  margin-left: 30px;
}

.photo {
  margin-bottom: 30px;
}

.team-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-role {
  margin-top: 0px;
  margin-bottom: 16px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.2;
}

.team-section {
  background-color: var(--secondary-background-color);
}

.social-networks {
  display: flex;
  justify-content: space-around;
}

.social-networks .item:hover,
.social-networks .item:focus {
  background-color: aqua;
}

/* Our clients */
.our-clients {
  display: flex;
  justify-content: space-around;
}

.our-clients .item:hover,
.our-clients .item:focus {
  background-color: aqua;
}

/* Footer */

.footer {
  padding-top: 48px;

  background-color: var(--footer-background-color);
}

.container.bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 10px;

  color: var(--primary-white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
}

.footer-logo:hover,
.footer-logo:focus {
  background-color: aqua;
}

.footer-address .contacts {
  padding-top: 9px;
}

.address {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts {
  color: var(--footer-contacts-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.footer-title {
  display: inline-block;
  margin-bottom: 21px;

  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list .item:hover,
.social-list .item:focus {
  background-color: aqua;
}

.copyright {
  margin-top: 0px;
  margin-bottom: 0px;
  /* border-top: 1px solid rgba(255, 255, 255, 0.1); */

  color: var(--footer-signature-color);
  font-size: 12px;
  line-height: 2;
  text-align: center;
}

/* Portfolio */

.section-list.buttons {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.section-list.buttons .item {
  margin-right: 8px;
}

.section-list.buttons .item:last-child {
  margin-right: 0px;
}

.section-list .section-content {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.section-list .button:hover,
.section-list .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.section-list .text {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--primary-white-color);
  background-color: grey;
  font-size: 18px;
  line-height: 1.56;
}

.section-list-title {
  margin-top: 0px;
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* work examples */

.section-list.works {
  display: flex;
  flex-wrap: wrap;
}

.section-list.works .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.section-list.works .item:nth-child(3n) {
  margin-right: 0px;
}

.section-list.works .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.section-list.works .item:hover,
.section-list.works .item:focus {
  background-color: aqua;
}

.card {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.card-content {
  padding: 20px 24px;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* .card-content.golden-stars {
  padding: 20px 18px;
} */
